src/main/java/service/PosTaggerRoWS1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webPosRo.uaic/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webPosRo.uaic/" name="PosTaggerRoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webPosRo.uaic/" schemaLocation="http://nlptools.info.uaic.ro:80/WebPosRo/PosTaggerRoWS?xsd=1" />
</xsd:schema>
</types>
<message name="parseSentence_XML">
<part name="parameters" element="tns:parseSentence_XML" />
</message>
<message name="parseSentence_XMLResponse">
<part name="parameters" element="tns:parseSentence_XMLResponse" />
</message>
<message name="parseText_XML">
<part name="parameters" element="tns:parseText_XML" />
</message>
<message name="parseText_XMLResponse">
<part name="parameters" element="tns:parseText_XMLResponse" />
</message>
<message name="parseSentence_TXT">
<part name="parameters" element="tns:parseSentence_TXT" />
</message>
<message name="parseSentence_TXTResponse">
<part name="parameters" element="tns:parseSentence_TXTResponse" />
</message>
<message name="parseText_TXT">
<part name="parameters" element="tns:parseText_TXT" />
</message>
<message name="parseText_TXTResponse">
<part name="parameters" element="tns:parseText_TXTResponse" />
</message>
<portType name="PosTaggerRoWS">
<operation name="parseSentence_XML">
<input wsam:Action="http://webPosRo.uaic/PosTaggerRoWS/parseSentence_XMLRequest" message="tns:parseSentence_XML" />
<output wsam:Action="http://webPosRo.uaic/PosTaggerRoWS/parseSentence_XMLResponse" message="tns:parseSentence_XMLResponse" />
</operation>
<operation name="parseText_XML">
<input wsam:Action="http://webPosRo.uaic/PosTaggerRoWS/parseText_XMLRequest" message="tns:parseText_XML" />
<output wsam:Action="http://webPosRo.uaic/PosTaggerRoWS/parseText_XMLResponse" message="tns:parseText_XMLResponse" />
</operation>
<operation name="parseSentence_TXT">
<input wsam:Action="http://webPosRo.uaic/PosTaggerRoWS/parseSentence_TXTRequest" message="tns:parseSentence_TXT" />
<output wsam:Action="http://webPosRo.uaic/PosTaggerRoWS/parseSentence_TXTResponse" message="tns:parseSentence_TXTResponse" />
</operation>
<operation name="parseText_TXT">
<input wsam:Action="http://webPosRo.uaic/PosTaggerRoWS/parseText_TXTRequest" message="tns:parseText_TXT" />
<output wsam:Action="http://webPosRo.uaic/PosTaggerRoWS/parseText_TXTResponse" message="tns:parseText_TXTResponse" />
</operation>
</portType>
<binding name="PosTaggerRoWSPortBinding" type="tns:PosTaggerRoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="parseSentence_XML">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="parseText_XML">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="parseSentence_TXT">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="parseText_TXT">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PosTaggerRoWS">
<port name="PosTaggerRoWSPort" binding="tns:PosTaggerRoWSPortBinding">
<soap:address location="http://nlptools.info.uaic.ro:80/WebPosRo/PosTaggerRoWS" />
</port>
</service>
</definitions>